/*工具类样式*/

.left{
    float: left;
}
.right{
    float: right;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both;
}


/*页面基本样式*/

html {
    box-sizing: border-box;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,ul {
    margin: 0;
    padding: 0
}
img{
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    border: none;
}

/*页面头部*/
header .top{
    height: 36px;
    background: #333;
}
header .top-item{
    width: 1090px;
    margin: auto;
}
header .declare{
    display: inline-block;
    font-size: 12px;
    line-height: 36px;
    color: #ccc;
}
header .h-tell{
    display: inline-block;
    margin-left: 20px;
    color: #333;
    background: url("../img/h-1.gif") no-repeat center left;
}
header .h-tell-litem{
    padding-left: 26px;
}
header .h-tell a{
    font-size: 12px;
    text-decoration: underline;
    color: #b4a078;
}
header .top .list{
    float: right;
}
header .top .list a{
    margin-right: 10px;
    color: #cccccc;
    font-size: 12px;
    line-height: 35px;
}
header .top .list a:hover{
    color: white;
}

header .top .list a i.item1{
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 20px;
    background: url("../img/h-4.png") 0 -9px;
}
header .top .list a i.item2{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 7px;
    height: 11px;
    background: url("../img/h-5.png") 0 -4139px;
}
header .top .list a+a{
    padding-left: 10px;
    border-left: 1px solid #5c5c5c;
}


header .wrap{
    height: 204px;
    box-shadow: 0 0 3px 1px rgba(51,51,51,.1);
}
header .wrap .for{
    position: relative;
    margin: auto;
    width: 1090px;
}
header .wrap .for .logo{
    position: absolute;
    top: 50px;
    left: 434px;
    width: 180px;
    height: 60px;
    background: url("../img/h-4.png") 0 -222px;
}

header .wrap .for .search{
    position: absolute;
    top: 65px;
    left: 750px;
}

header .wrap .for .search input{
    width: 252px;
    border-bottom: 1px solid #D8CEBC;
    height: 30px;
}
header .wrap .for .search input::-webkit-input-placeholder{
    color: #b4a078;
    font-size: 12px;
}
header .wrap .for .search a{
    display: inline-block;
}
header .wrap .for .search .item1{
    width: 22px;
    height: 22px;
    background: url("../img/h-5.png") 0 -5258px;
}
header .wrap .for .search .item2 i{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/h-5.png") 0 -343px;
}
header .wrap .for .search .item2 i span{
    float: left;
    margin-left: 15px;
    margin-top: -5px;
    width: 19px;
    height: 19px;
    color: white;
    background: url("../img/h-5.png") 0 -282px;
}


header .wrap .fix-list{
    position: absolute;
    top: 148px;
    left: 20px;
}
header .wrap .fix-list li{
    display: inline-block;
    margin: 10px;
    padding-right: 34px;
}
header .wrap .fix-list li a{
    padding-bottom: 6px;
    color: black;
    font-size: 14px;
    font-weight: 700;
}
header .wrap .fix-list li a:hover{
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
}
header .wrap .fix-list li a.home{
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
}

/*网页内容部分*/
.container {
    width: 1090px;
    margin: auto;
}
.container .pinpai h2{
    display: inline;
}
.pinpai .header{
    margin-bottom: 15px;
}
.pic-wrap{
    margin-top: 15px;
}
.pic-wrap a{
    position: relative;
    width: 357px;
    height: 320px;
    float: left;
}
.pic-wrap .sp,.pic-wrap .special{
    width: 357px;
    height: 155px;
}
.pic-wrap a+a{
    margin-left: 9px;
}
.pic-wrap a.special{
    margin-top: 10px;
}
.pic-wrap img{
    top: 0;
    left: 0;
    position: absolute;
}
.pic-wrap{
    text-align: center;
}
.pic-wrap .muj{
    position: relative;
    z-index: 1;
    margin: 48px 0 19px;
    font-size: 24px;
    text-align: center;
    color: #666;
}
.pic-wrap .price{
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-top: 17px;
    font-size: 14px;
    border-top: 1px solid #666;
}
.pic-wrap .muj-right{
    margin:32px 0 10px 20px;
    text-align: left;
}
.pic-wrap .p-r{
    float: left;
    margin:10px 0 10px 20px;
    text-align: left;
}
/*上边距*/
.mt{
    margin: 34px 0;
}
/*-------------*/
.pinpai .header{

    margin: 34px 0;
}
.pinpai small{
    margin-left: 15px;
}
.pinpai li{
    display: inline-block;
}
.pinpai li+li{

    margin-left: 5px;
}
.pinpai li p{text-align: center;
}
.pinpai li p.name{
    margin: 6px 0;
    font-weight: 700;
}
.pinpai li p.price{
    color: red;
}
.hot-wrap {
    background: #f4f0ea;
    padding-bottom: 40px;
}

.hot {
    width: 1090px;
    margin: auto;
}

.hot-wrap li {
    display: inline-block;
    margin: 0 16px;
    padding-bottom: 4px;
}

.hot-wrap li:first-child {
    border-bottom: 2px solid #b4a078;
}

.hot-wrap li a {
    color: #b4a078;
}

.hot-wrap h2, .hot-wrap ul {
    display: inline-block;
    margin-left: 20px;
}

.hot-wrap .header {
    margin: 60px 0 20px;
}

.hot-wrap .pic .pic-back {
    display: inline-block;
    width: 390px;
    height: 430px;
    text-align: center;
    background: white;
}
.hot-wrap .pic .pic-back2{
    display: inline-block;
    width: 223px;
    height: 210px;
    margin-bottom: 10px;
    margin-left: 3px;
    text-align: center;
    background: white;
}
.hot-wrap .pic .pic-back2 img{
    margin: auto;
}
.hot-wrap .pic .wrap{
    display: inline-block;
    width: 690px;
    height: 430px;
}
.hot-wrap .pic p:last-child{
    color: red;
}

.g-row {
    width: 1090px;
    margin: auto;
    padding-top: 20px;
}

.g-row .header h2 {
    float: left;
}

.g-row .header p {
    float: right;
}

.g-row .pic {
    float: left;
    width: 224px;
    height: 377px;
    padding-top: 60px;
    background: url("../img/e-1.jpg");
}

.g-row .pic .screenHd {
    font-size: 28px;
    text-align: center;
    color: #615548;
}

.g-row .pic .screenEndTips {
    text-align: center;
    font-size: 18px;
}

.g-row .pic .line {
    width: 20px;
    height: 2px;
    margin: 16px auto 18px;
    background: #61594b;
}

.g-row .pic .wrap {
    margin-top: 4px;
    text-align: center;
}

.g-row .con .jieshao {
    margin-left: 224px;
}

.g-row .con .jieshao .part1 {
    float: left;
    width: 433px;
    height: 189px;
    border: 1px solid #f0ece4;
}


.g-row .con .jieshao .part1 h2 {
    margin-top: 4px;
    margin-bottom: 7px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.g-row .con .jieshao .part1 .itemDes {
    margin-bottom: 8px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.g-row .con .jieshao .part1 .numBar{
    float: left;
    width: 152px;
    height: 10px;
    margin: 2px 0;
    border: 1px solid #f2cecd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.numBarIn{
    background-color: #ffe5e5;
    height: 10px;
}
.numTips{
    float: left;
    height: 14px;
    margin-left: 27px;
    font-size: 14px;
    color: #999;
    line-height: 14px;
}
.aPrice{
    color: #be4141;
}
.g-row .con .jieshao .yuan{

    font-size: 18px;
    margin-left: 4px;
}
.itemPrice{
    margin-top: 40px;
}
.aPriceIn{

    margin-right: 12px;
    vertical-align: sub;
    font-weight: 700;
    font-size: 24px;
}
.oPrice{

    color: #999;
}
.oPriceIn{

    text-decoration: line-through;
}
.button{
    border: 1px solid #d25a5a;
    background-color: #fff3f3;
    color: #d25a5a;
    position: absolute;
    display: block;
    width: 118px;
    height: 31px;
    margin-top: 23px;
    margin-left: 176px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover{

    background-color: #fff;
}
.g-row header {
    margin-top: 30px;
}

.g-row small {
    display: inline-block;
    margin-top: 13px;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px solid black;
}

.g-row nav {
    float: right;
    margin-top: 8px;
}

.g-row nav a {
    letter-spacing: 3px;
    color: #333;
    margin-left: 6px;
}

.g-row .header .special {
    margin-left: 25px;
    margin-top: 8px;
}

.g-row .con-picl {
    padding-top: 20px;
}

.g-row .con-pic .w {
    display: inline-block;
    margin-left: 14px;
}

.g-row .con-pic .w .p-w {

    background-color: #F4F4F7;
}

.g-row .con-pic .w:first-child {
    margin-left: 0;
}

.g-row .con-pic {
    padding-top: 15px;
}

.g-row .con-pic .w p {
    text-align: center;
    margin-top: 4px;
}

.g-row .con-pic p.special {

    color: #d4282d;
}

body > div.expert{
    margin-top: 20px;
    padding-top: 20px;}
body > div.expert > div{
    margin: auto;
    width: 1090px;
}
body > div.expert > div > div.header > h2{
    display: inline-block;
}
body > div.expert > div > div.pic > img{
    float: left;
    margin-top: 10px;
}
body > div.expert > div > div.pic > img+img{
    margin-left: 6px;
}body > div:nth-child(6) > div.con-picl > img{

     width: 100%;
 }
.g-row .con-pic .w{

    margin-left: 25px;
}
body > div.speak > div{
    margin: auto;
    width: 1090px;
}
body > div.speak{

    background-color: #f4f0ea;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
body > div.speak > div > div.header > h2{

    display: inline-block;
}body > div.speak > div > div.header{

     margin-bottom: 20px;
 }
body > div.speak > div > div.pic > div{
    display: inline-block;
    vertical-align: top;
    background-color: #FFF;
    height: 492px;
    width: 355px;
    margin-left: 3px;
}
body > div.speak > div > div.pic > div > img{
    width: 355px;
}body > div.speak > div > div.pic > div:nth-child(1){
     margin-left: 0;
 }
body > div.flexslider > ul > li:nth-child(2) > a{
    display: none;
}
body > div.speak > div > div.pic > div > div > div:nth-child(1) {
    font-size: 13px;
    line-height: 16px;
    color: #999;
}
body > div.speak > div > div.pic > div > div > div{
    margin-top: 4px;
    margin-left: 4px;
}
body > div.speak > div > div.pic > div > div > div{
    color: #333;
    line-height: 14px;
    font-weight: 700;}
body > div.speak > div > div.pic > div> div > div> span{
    float: right;
    margin-right: 15px;
    color: #b4a078;
    font-size: 13px;
    line-height: 16px;
}
body > div.speak > div > div.pic > div> div > div:nth-child(3){
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
body > footer > div.part1{
    width: 1090px;
    margin: 35px auto;
}
body > footer > div.part1 > div{
    display: inline-block;
    margin-right: -4px;
    width: 33.3333%;
    vertical-align: top;
}
body > footer > div.part1 > div{
    padding: 50px;
    border-left: 1px solid #e9e9e9;}
div.part:nth-child(1){
    border: none;
}
div.part{
    padding: 0 37px;
    text-align: center;
    line-height: 1;}
.dianhua{
    margin-bottom: 28px;
}
.num{
    font-size: 26px;
}
.time{
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 14px;
}
.btn > a{
    display: inline-block;
    margin-right: 12px;
    width: 100px;
    height: 28px;
    font-size: 14px;
    line-height: 26px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 2px;
}
.btn > a:hover{

    color: #fff;
    background-color: #666;
    border: 1px solid #fff;
}
.why{
    margin-bottom: 28px;
    line-height: 1;
}
div.part:nth-child(2) > div:nth-child(2){
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;
}
div.pic:nth-child(3) > span:nth-child(1){
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
}
div.pic:nth-child(3) > span:nth-child(2) > i{
    display: inline-block;
}
div.pic:nth-child(3) > span:nth-child(2) > i:nth-child(1){
    height: 32px;
    width: 32px;
    background: url("../img/i-1.png") 0 -6868px;
}
div.pic:nth-child(3) > span:nth-child(2) > i:nth-child(2){
    height: 32px;
    width: 32px;
    background: url("../img/i-1.png") 0 -6826px;
}
div.pic:nth-child(3) > span:nth-child(2) > i:nth-child(3){
    height: 32px;
    width: 32px;
    background: url("../img/i-1.png") 0 -6784px;}
div.pic:nth-child(3) > span:nth-child(1){
    float: left;

}div.pic:nth-child(3) > span:nth-child(2){
     float: left;
     margin-left: 20px;
 }
div.part:nth-child(3) > div:nth-child(2) > img:nth-child(1){
    width: 117px;
    margin: 10px auto;
}
.tip{    color: #b4a078;
    font-size: 12px;
    margin-top: 3px;}
div.part:nth-child(3) > div:nth-child(2){
    margin-top: 33px;
}
footer .bottom{
    height: 204px;
    padding-top: 37px;
    background-color: #414141;
}
.bottom > ul:nth-child(1){
    margin: auto;
    width: 1090px;
}
.bottom > ul:nth-child(1) > li{float: left;
    width: 33.3333%;
    text-align: center;
}
.bottom > ul:nth-child(1) > li > p:nth-child(2){
    color: #fff;
    font-size: 18px;
    line-height: 51px;
}
.bottom > ul:nth-child(1) > li > i:nth-child(1){
    display: inline-block;
    float: left;
}
.bottom > ul:nth-child(1) > li:nth-child(1) > i:nth-child(1){
    height: 51px;
    width: 51px;
    background: url("../img/i-1.png") 0 -1953px;
}
.bottom > ul:nth-child(1) > li:nth-child(2) > i:nth-child(1){
    height: 51px;
    width: 51px;
    background: url("../img/i-1.png") 0 -2014px;
}
.bottom > ul:nth-child(1) > li:nth-child(3) > i:nth-child(1){
    height: 51px;
    width: 51px;
    background: url("../img/i-1.png") 0 -2075px;
}
.flex-prev{
    display: none;
}
ul.clearfix > li > i:nth-child(1){
    float: left;
    margin-left: 88px;
}
ul.clearfix > li > p:nth-child(2){
    float: left;
    margin-left: 10px;
}
ul.clearfix{
    padding-bottom: 52px;
    border-bottom: 1px solid #4f4f4f;
}
.m-siteInfo{
    margin: auto;
    width: 1090px;
    text-align: center;
    color: #999;
    font-size: 12px;
}
.m-siteInfo .nav {
    display: inline-block;
}
.m-siteInfo .nav .text {
    color: #999;
}
.m-siteInfo .nav .split {
    margin: auto 10px;
}
.copyright{
    line-height: 20px;
}
input{
    outline:none;
}
.pic-wrap > a{
    overflow: hidden;
}
.pic-wrap > a > img{
    transition: 1s;
}
.pic-wrap > a> img:hover{
    transform: scale(1.05);
}
.mask {
    display: none;
    position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;
    z-index: 10; left: 0px;
    right: 0;
    opacity:0.5; -moz-opacity:0.5;
}
.div{
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 55%;
    z-index: 12;
    background: white;
    padding: 20px;
}
.div h2{
    margin: 20px auto;
    text-align: center;

}
.div img{
    margin: auto;
}
.div p{
    margin-top: 15px;
    font-size: 12px;
}